/*import fonts from fonts.css*/
@import url(./fonts.css);

/*css variables*/
@import url(./partials/_variables.css);

/*global styling*/
@import url(./partials/_global.css);

/*start navigation*/
.heading .main-menu .navbar .navbar-brand{
  padding: 0 2rem 0 5rem;
}

.heading .main-menu .navbar{
  padding: 0.5rem 12rem;
}

.heading .main-menu .nav-item .nav-link{
  font-family: var(--lato);
  text-transform: uppercase;
  padding: 1.7rem;
  color: black;
  font-weight: 500;
}

.heading .main-menu .navbar-nav .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.heading .main-menu .navbar-nav a:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*end navigation*/

/*Banner area*/
.site-main .site-banner{
  background:url(../img/banner.png) no-repeat;
  background-position: 0% 40%;
}

.site-main .site-banner .site-title h3{
  padding-top: 21%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
  font-size: 4.6rem;
}

.site-main .site-banner .site-title h4{
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image img{
  padding: 1.3rem 0;
  width: 31rem;
}

/*End Banner Area*/
/*Start About Area*/
.site-main .about-area{
  padding: 7.5rem 2rem;
}

.site-main .about-area .about-title h2 > span{
  display: block;
  font: normal bold 38px/50px var(--lato);
  letter-spacing: 20px;
}

.site-main .about-area .about-title .paragraph > p{
  padding: .2rem 0;
  text-decoration: none;
}

a {
  color: #777777;
  font: normal bold 38px/50px var(--lato);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  color: #caa683;
  text-decoration: none;
}

.a-underline {
  margin-bottom: 2px;
  margin-left: 1px;
  margin-right: 1px;
  border-bottom: 1.5px solid #caa683;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif; 
}

/*End about area*/

/*Skills Area*/
.site-main .skills-area{
  padding: 4.5rem 2rem;
}

.site-main .skills-area .skills-title{
  padding: 0 14rem;
}

.site-main .skills-area .skills-title h1{
  font-size: 37px;
}

.site-main > .skills-area .skills{
  background: rgba(248, 252, 253, 0.973);
  padding: 1.7rem 0;
  width: 14rem;
  margin:  4rem 0.5rem;
  transition: box-shadow .7s ease;
}

.site-main > .skills-area .skills:hover{
  box-shadow: var(--box-shadow);
}

.site-main .skills-area .skills-list p{
  line-height: 23.5px;
  font-size: 14px;
}
/*End SKills Area*/

/*Project Area*/
.site-main .project-area{
  padding: 3.4rem 0;
}

.site-main .project-area .button-group button{
  background: transparent;
  border: none;
  font: normal 500 16px/90px var(--lato);
  text-transform: uppercase;
}

.site-main .project-area .button-group button .active a{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.site-main .project-area .button-group button:hover{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.site-main .project-area .button-group button + button{
  padding-left: 3rem;
}

.site-main .project-area .grid .my-project > .title h4{
  font: normal 700 23px/12px var(--lato);
}

.site-main .project-area .grid .my-project p{
  font-size: 14px;
  font-family: var(--Lato);
  color: var(--text-color);
  line-height: 20px;
  width: 323px;
}

.fa-external-link-alt{
  color: #dfb993;
}

.site-main .project-area .grid .img a:hover img{
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);

}

/*End Project Area*/

/*Fun Facts Area*/

.site-main .fun-facts .facts-title h1{
  padding-top: 6.4rem;
}

.site-main .fun-facts .facts-title p{
  padding: 1rem 7rem;
}

.site-main .fun-facts .fact{
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .fun-facts .fact .fact-img{
  padding: 2rem;
}

.site-main .fun-facts .fact .about-fact{
  padding-top: 2rem;
}

.site-main .fun-facts .fact .about-fact h4{
  font: normal 500 21px/20px var(--lato);
}

.site-main .fun-facts .fact .about-fact .para{
  font-size: 13px;
}

.site-main .fun-facts .fact .about-fact .author{
  font-size: 12px;
}

.site-main .fun-facts .owl-carousel .owl-item{
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .fun-facts .owl-carousel .owl-dots .owl-dot.active span{
  background: var(--primary-color);
  width: 10px;
  height: 10px;
}

/*End Fun Facts Area*/

/*Start Footer Area*/

footer .footer-area{
  padding: 5rem 0;
  background: url(./img/footer-bg.png) no-repeat;
}

footer .footer-area .social h5{
  font: normal bold 23px/30px var(--lato);
}

footer .footer-area .social a > i{
  font-size: 22px;
}

.fa-linkedin{
  color: #a87a53;
  padding: 1.2rem 3rem;
  font-size: 20px;
}

.fa-facebook{
  color: #a87a53;
  padding: 1.2rem 3rem;
  font-size: 20px;
}

.fa-instagram{
  color: #a87a53;
  padding: 1.2rem 3rem;  
  font-size: 20px;
}

.fa-github{
  color: #a87a53;
  padding: 1.2rem 3rem;
  font-size: 20px;
}

.footer .footer-area .social a:hover > i{
  color: var(--primary-color);
}

/*End Footer*/
